body {
	background-image:url(soccer_field.jpg); background-size:auto
}

hr {
	border:0;
	background:#dedede;
	height:1px;
}

header .judul{
	font-size: 50pt;
	text-align: center;
	font-family: "Cooper Black";
	-webkit-text-fill-color:#20a1f7;
	-webkit-text-stroke:2px #fff;
}

header .deskripsi{
	font-size: 17pt;
	text-align: center;
	background: rgb(0,0,0,0.6);
	color: #fff;
	margin: 15px auto 5px;
	padding: 10px 10px;
	margin-bottom: 8px;
}

.wrap {
	width: 950px;
	margin:25px auto;
}

nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	float:left;
	padding:0;
	width: 650px;
	margin:0 0 0;
	background: #3498db;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}

nav.menu ul li {
	margin:0;
	float:left;
}

nav.menu ul li.login {
	margin:0;
	float:right;
}

nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

nav.menu ul a:hover {
	text-decoration: underline;
	background:#3498db;
}

.sidebar {
	float:right;
	width:275px;
}

.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}

.sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
}

.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}

.sidebar .widget p {
	font-size: 14px;
}

.sidebar .widget p:last-child {
	margin:0;
}

.blog {
	float:left;
}

.conteudo {
	width:600px;
	padding:25px;
	margin:25px auto;
	background: rgb(255,255,255, 0.9);
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}

.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.conteudo p:last-child {
	margin: 0;
}

.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700;
	font-size: 25px;
	background: #3498db;
}

.conteudo .continue-lendo1 {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.keterangan {
	float: right;
	font-size: 9px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.tanggal-pertandingan {
	float: right;
	font-size: 12px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.contact {
	float: center;
	font-size: 20px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.stadium {
	float: center;
	font-size: 25px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.tickets {
	float: center;
	font-size: 17px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.a {
	background: #909BA1;
}

.b {
	background: #345C62;
}

.c {
	background: #5C6B73;
}

.d {
	background: #78888D;
}

.e {
	background: #909EA5;
}

.f {
	background: #DCDDDF;
}

.g {
	background: #EDEFEF;
}

@media screen and (max-width: 960px) {

	.header {
		position:inherit;
	}

	.wrap {
		width: 90%;
		margin:25px auto;
	}
	.sidebar {
		width:100%;
		margin:25px 0 0;
		float:right;
	}

	.sidebar .widget {
		padding:5%;
	}

	nav.menu ul {
		width: 100%;
	}

	nav.menu ul {
		float:inherit;
	}

	nav.menu ul li {
		float:inherit;
		margin:0;
	}

	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}

	.blog {
		width:90%;
	}

	.conteudo {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;
		background: #fff;
	}

	.conteudo .continue-lendo:hover {
		margin-left:0;
	}


}

@media screen and (max-width: 460px) {

	nav.menu ul a {
		padding:15px;
		font-size: 14px;
	}

	.sidebar {
		display:none
	}
	.keterangan {
		display:none;
	}
	.tanggal-pertandingan {
		display:none;
	}

	.conteudo {
		margin:25px auto;
	}

}
